.movie-item {
    position: relative;
    max-width: 400px;
    width: 100%;
    cursor: pointer;
    border-top: 1px solid rgba(255,255,255, 0.5);

    .content {
        padding: 20px;
        text-align: center;

        h2 {
            position: absolute;
            top: -5px;
            left: 6px;
            font-size: 2.8em;
            color: rgba(255,255,255, 0.4);
            pointer-events: none;
        }

        h3 {
            font-size: 1.8em;
            color: #ffffff;
            z-index: 1;
        }

        p {
            font-size: 1em;
            color: #ffffff;
            font-weight: 300;
        }

        button {
            position: relative;
            display: inline-block;
            padding: 8px 20px;
            margin-top: 15px;
            background: #f44336;
            color: #ffffff;
            border-radius: 20px;
            border: none;
            font-weight: 500;
        }
    }
}